@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #868585;
  --header: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #bbbbbb;
    --header: #ffffff;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-header: var(--header);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Explicit class-based overrides */
.light {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #868585;
  --header: #0a0a0a;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #959595;
  --header: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
